bin
src/gap_shortener/*.o
src/lookup_table/*.o
src/fafq_filter/*.o
src/satc/*.o
libs/cdflib/*.o
src/satc_to_fasta/*.o
libs/refresh/parallel_queues/lib/*.o
src/satc_filter/*.o
src/satc_undump/*.o
src/tsv_to_fasta/*.o
src/common/*.o
src/sig_anch/*.o
src/common/kmc_api/*.o
src/satc_merge/*.o
src/satc_dump/*.o
src/compactors/*.o
src/read_selector/*.o
src/dsv_manip/*.o
*.fastq
*.fastq.gz
*.tsv
